<div class="text-center mt-3">
    <h2>{{likesParams.predicate === 'liked' ? 'Members I like' : 'Members who likes me'}}</h2>
</div>  
<div class="container mt-3">
    <div class="d-flex">
        <div class="btn-group" name="predicate">
            <button class="btn btn-primary" btnRadio="liked" 
            [(ngModel)]="likesParams.predicate" (click)="loadLikes()">Member's I Like</button>
            <button class="btn btn-primary ms-1" btnRadio="likedby" 
            [(ngModel)]="likesParams.predicate" (click)="loadLikes()">Members who likes me</button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-2" *ngFor="let item of members">
            <app-member-card [member]="item"></app-member-card>
        </div>
    </div>
    <div class="d-flex justify-context-center" *ngIf="pagination">
      <pagination 
        [(ngModel)]="likesParams.pageNumber" 
        [boundaryLinks]="true" 
        [totalItems]="pagination.totalItems"
        [itemsPerPage]="pagination.pageSize" 
        (pageChanged)="pageChanged($event)" 
        previousText="&lsaquo;"
        nextText="&rsaquo;" 
        firstText="&laquo;" 
        lastText="&raquo;">
      </pagination>
    </div>
</div>  
